.uni_navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100vw;
  height: 90px;
  background-color: #ffffff;
 
  
}
.uni_navbar img{
  margin-left: 113px;
  margin-right: 210px;
}
.uni_navbar-container .UL{
  display: flex;
  list-style: none;
  margin-left: 100px;
  
}
.uni_navbar-container .UL .LI{
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
display: flex;
align-items: center;
justify-content: center;
width: 86px;
height: 89px;

}
.uni_navbar-container .UL .LI:hover{
  background: #87A80D;
  color: #ffffff;
}






